.panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-width: 400px;
  height: 48px;
  background: #373745;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
}

.panel__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
  margin: 0;
}
