.historyPage {
  display: flex;
  width: 1920px;
  margin: 0 auto;
}

.historyPage__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1074px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  margin: 80px auto;
  padding: 32px;
  box-sizing: border-box;
}

.historyPage__table {
  display: grid;
  grid-template-columns: 678px 160px 140px;
  grid-template-rows: 40px repeat(auto-fill, 40px);
  column-gap: 16px;
  row-gap: 8px;
  margin: 0;
}
