.ratingPage {
  display: flex;
  width: 1920px;
  margin: 0 auto;
}

.ratingPage__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1026px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  margin: 80px auto;
  padding: 32px;
  box-sizing: border-box;
}

.ratingPage__table {
  display: grid;
  grid-template-columns: 440px 108px 108px 108px 134px;
  grid-auto-rows: 48px;
  column-gap: 16px;
}
