.popup__form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
}

.popup__container {
   display: flex;
   gap: 40px;
}

.popup__label {
   display: flex;
   flex-direction: column;
   text-align: start;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.24px;
   color: #373745;
   gap: 8px;
}

.popup__label_type_age {
   width: 74px;
}

.popup__label_type_gender {
   width: 104px;
}

.popup__radioButtonContainer {
   display: flex;
   gap: 8px;
}

.popup__input {
   display: none;
}

.popup__item {
   display: flex;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   padding: 8px;
   border: 1px solid #60c2aa;
   box-sizing: border-box;
   cursor: pointer;
}

input:checked + label {
   background: #60c2aa;
}
