.сhatForm {
  display: flex;
  gap: 12px;
  width: 412px;
  height: 48px;
}

.сhatForm__button {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-image: url(../../images/arrow-button.png);
}

.сhatForm__button:hover {
  background-image: url(../../images/arrow-button-hover.png);
}
