.activePlayersPageContent {
  display: flex;
  width: 1920px;
  margin: 80px auto;
}

.activePlayersPage__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 781px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  margin: 80px auto;
  padding: 32px;
  box-sizing: border-box;
}

.activePlayersPage__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
