.popup {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 24px 24px 40px;
  cursor: default;
}
