.authorization {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.authorization__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: 464px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  padding: 40px 24px;
  box-sizing: border-box;
}
