.nav__items {
  display: flex;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
  text-decoration: none;
  padding: 4px 12px;
}

.nav__link_active {
  color: #ffffff;
  background: #60c2aa;
  border-radius: 200px;
}
