.button {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   width: 352px;
   height: 48px;
   background: #60c2aa;
   color: #ffffff;
   border-radius: 12px;
   border: none;
   box-sizing: border-box;
   padding: 12px 20px;
   cursor: pointer;
}

.button:hover {
   background: #3ba189;
}

.button_disabled {
   opacity: 0.3;
   cursor: default;
}

.button_type_small {
   width: 161px;
   background: #60c2aa;
   box-sizing: border-box;
}

.button_type_small_disabled {
   color: #373745;
   background: #f7f7f7;
   opacity: 0.3;
   cursor: default;
}
