.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219.33px;
  height: 218.33px;
  border-radius: 12px;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
  padding: 30px 34px;
  box-sizing: border-box;
}
