.userActivity {
   display: flex;
   align-items: center;
   gap: 16px;
   padding: 12px 0;
   box-sizing: border-box;
}

.userActivity__fullName {
   text-align: start;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.24px;
   color: #373745;
   width: 360px;
   height: 24px;
   margin: 0;
   box-shadow: inset 0px -1px 0px #eeeff5;
}

.userActivity__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 341px;
}

.userActivity__item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 32px;
   color: #ffffff;
   background: #a8d37f;
   border-radius: 6px;
   padding: 4px 12px;
}

.userActivity__item_type_free {
   background: #87cae8;
}
